C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:1:absl-py==2.5.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:2:aiofiles==25.1.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:3:alembic==1.18.5
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:4:annotated-doc==0.0.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:5:annotated-types==0.8.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:6:anyio==4.14.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:7:astunparse==1.6.3
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:8:bcrypt==5.0.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:9:certifi==2026.7.22
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:10:charset-normalizer==3.4.9
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:11:click==8.4.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:12:contourpy==1.3.3
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:13:cloudinary==1.41.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:14:cuda-bindings==13.3.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:15:cuda-pathfinder==1.6.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:16:cuda-toolkit==13.0.3.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:17:cycler==0.12.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:18:dnspython==2.8.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:19:ecdsa==0.19.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:20:email-validator==2.3.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:21:fastapi==0.140.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:22:filelock==3.32.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:23:flatbuffers==25.12.19
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:24:fonttools==4.63.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:25:fsspec==2026.6.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:26:gast==0.7.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:27:google-pasta==0.2.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:28:greenlet==3.5.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:29:grpcio==1.83.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:30:h11==0.16.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:31:h5py==3.14.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:32:httpcore==1.0.9
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:33:httpx==0.28.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:34:idna==3.18
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:35:ImageIO==2.37.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:36:iniconfig==2.3.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:37:Jinja2==3.1.6
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:38:keras==3.15.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:39:kiwisolver==1.5.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:40:lazy-loader==0.5
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:41:libclang==18.1.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:42:Mako==1.3.12
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:43:markdown-it-py==4.2.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:44:MarkupSafe==3.0.3
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:45:matplotlib==3.11.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:46:mdurl==0.1.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:47:ml_dtypes==0.5.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:48:mpmath==1.3.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:49:namex==0.1.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:50:networkx==3.6.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:51:numpy==2.5.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:67:opencv-python==5.0.0.93
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:68:opt_einsum==3.4.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:69:optree==0.19.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:70:packaging==26.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:71:passlib==1.7.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:72:pillow==12.3.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:73:pluggy==1.6.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:74:protobuf==7.35.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:75:psycopg2-binary==2.9.12
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:76:pyasn1==0.6.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:77:pydantic==2.13.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:78:pydantic-settings==2.14.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:79:pydantic_core==2.46.4
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:80:Pygments==2.20.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:81:pyparsing==3.3.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:82:pytest==9.1.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:83:python-dateutil==2.9.0.post0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:84:python-dotenv==1.2.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:85:python-jose==3.5.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:86:python-multipart==0.0.32
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:87:requests==2.34.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:88:rich==15.0.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:89:rsa==4.9.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:90:scikit-image==0.26.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:91:scipy==1.18.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:92:setuptools==83.0.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:93:six==1.17.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:94:SQLAlchemy==2.0.51
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:95:starlette==1.3.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:96:sympy==1.14.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:97:tensorflow==2.21.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:98:termcolor==3.3.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:99:tifffile==2026.7.14
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:100:torch==2.13.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:101:torchvision==0.28.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:102:tqdm==4.69.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:103:triton==3.7.1
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:104:typing-inspection==0.4.2
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:105:typing_extensions==4.16.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:106:urllib3==2.7.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:107:uvicorn==0.51.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:108:wheel==0.47.0
C:\Users\tejas\Downloads\DeepFake-main\DeepFake-main\requirements.txt:109:wrapt==2.2.2
g o o g l e - g e n e r a t i v e a i = = 0 . 8 . 2  
 